


<div *ngFor ="let event of events">
		<div class="panel panel-default" >
				<div class="panel-body">
	
				<div class="card text-center">
					<div class="card-header"></div>

					<div class="card-body">
							<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck1" (click)="event.isCompleted = submitted;" >
									<label class="form-check-label" for="defaultCheck1" >
											{{event.title | uppercase}}
											{{event.isCompleted}}
											{{submitted}}

									</label>

									<div>
										<span class="drop-desc" [hidden]="isDropped" (click)="isActive=false; isDropped=true" >V</span>
										<span class="drop-desc" [hidden]="isActive" (click)="isActive=true; isDropped=false" >^</span>
										<p [hidden]="isActive" class="card-text">{{event.description}}</p>
									</div>
									
						    </div>

					</div>
					<div class="card-footer text-muted">2 days ago</div>
			  	</div>





			</div>
	</div>
</div>